@import "../../../util-styles/mixins";

#about-carousel-container {
  width: 100%;
  @include md() {
    max-width: 90vw;

  }






  .about-card-carousel-card {
    cursor: pointer;
    max-width: 200px;
    max-height: 300px;
    margin: 20px;
  }
}
