<div class="about-me-card-container">
  <mat-card>
    <mat-card-content>
      <app-about-me-card-profile></app-about-me-card-profile>
      <div  class="about-me-card-container__text">
        <h1>Nicolás Falla Ríos</h1>
        <h3 class="tenure">Angular developer</h3>
        <p class="text-justify">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. A explicabo, incidunt maxime officiis quidem voluptas? Deleniti error molestias quod reprehenderit sit totam vitae. Cumque et fugiat minima recusandae, sapiente vitae.
        </p>
      </div>
    </mat-card-content>
  </mat-card>
</div>
